<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="44162SrujanJha.ExFrienditure" Publisher="CN=47A172A5-2C9F-440E-B1D2-344C49961FA3" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="27498be5-efde-4198-9c8d-eaccd3ef1715" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ExFrienditure</DisplayName>
    <PublisherDisplayName>Srujan Jha</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Exfrienditure.WindowsPhone.App">
      <m3:VisualElements DisplayName="ExFrienditure" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Exfrienditure.WindowsPhone" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="csv">
            <DisplayName>CSV</DisplayName>
            <SupportedFileTypes>
              <FileType>.csv</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.contactPicker" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m3:Capability Name="contacts" />
    <Capability Name="documentsLibrary" />
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>